.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**.csv.gz
**__pycache__/
.history
**/data/*
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
prefect-zoomcamp-main/
!week_6_stream_processing/avro_example/data/rides.csv